<section class="clearfix">
  <h2 class="lead pull-left"><%= @system_status.name %> System Status </h2>
  <h4 class="pull-right"><small>Last updated <%= distance_of_time_in_words_to_now @system_status.current.last_updated %> ago</small></h4>

</section>

<section>
  <div class="alert <%= current_status_alert_class %> alert-block">
    <h4><%= @system_status.current.latest_message %></h4>
  </div>
</section>


<%= render partial: 'messages' %>